body {
  padding: 0;
  margin: 0;
  font: 1em/1.4 Cambria, Georgia, sans-serif;
  background: #19385B;
}

#container {
  position: relative;
  text-align: center;
  top: 50px;
  margin: auto;
  width: 500px;
  height: 180px;
  padding: 10px;
  border-radius: 1px;
  border: 1px solid #dcdcdc;
  background: #3e70A8;
}

blockquote {
  margin: 1em 0;
  border: transparent;
}
.quote{
  position: relative;
  color: white;

}
.author {
  position: relative;
  margin: -5px 0px 0px 200px;
  font-style: italic;
  font-size: 10pt;
  color: white;
  padding: 1px;
}
#tweet{
  position: absolute;
  margin: auto;
  left: 00px;
  top: 210px;
}
#tweet:hover img {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.quoteButton {
  position: absolute;
  margin: auto;
  left: 390px;
  top: 210px;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
  background-color: #ffffff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 2px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  height: 30px;
}

.quoteButton:hover {

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
  background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
  background-color: #f6f6f6;
  -webkit-transform: scale(1.05);
	transform: scale(1.05);
}
